body{
    text-align: center;
}

.btn1{
    border: none;
    background-color: blue;
    width: 7%;
    height: 35px;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0px;
}

.btn2{
    border: none;
    background-color: red;
    width: 7%;
    height: 35px;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0px;
}

input{
     width: 60%;
      height: 35px;
       margin-left: 72px;
}
.result{
    margin-top: 10px;
    width: 20%;
    height: 40px;
    border: none;
    background-color: cornflowerblue;
    color: white;
}
span{
    color: red;
    margin-bottom: 10px;
}
.error_message{
    margin-left: -44%;
}
